nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
}

a:hover {
  font-weight: bold;
  color: var(--primary-1000);
}

.colorGreen {
  color: var(--success-500)
}

.colorRed {
  color: var(--error-500)
}
